USE [master]
GO
/****** Object:  Database [ApacheLogs]    Script Date: 6/19/2019 10:14:31 AM ******/
CREATE DATABASE [ApacheLogs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApacheLogs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ApacheLogs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApacheLogs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ApacheLogs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApacheLogs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApacheLogs]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 6/19/2019 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Ip] [nvarchar](450) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[CountryId] [bigint] NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 6/19/2019 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Protocols]    Script Date: 6/19/2019 10:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Protocols](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Protocols] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProtocolVersions]    Script Date: 6/19/2019 10:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProtocolVersions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Version] [float] NOT NULL,
 CONSTRAINT [PK_ProtocolVersions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestUrls]    Script Date: 6/19/2019 10:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestUrls](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Params] [nvarchar](max) NULL,
	[ResponseSize] [bigint] NOT NULL,
	[Date] [datetimeoffset](7) NOT NULL,
	[IpAddressId] [bigint] NOT NULL,
	[RouteId] [bigint] NOT NULL,
	[MethodId] [bigint] NOT NULL,
	[ProtocolId] [bigint] NOT NULL,
	[ProtocolVersionId] [bigint] NOT NULL,
	[StatusCodeId] [bigint] NOT NULL,
 CONSTRAINT [PK_RequestUrls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestMethods]    Script Date: 6/19/2019 10:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestMethods](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_RestMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestStatusCodes]    Script Date: 6/19/2019 10:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestStatusCodes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_RestStatusCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 6/19/2019 10:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Routes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Addresses_CountryId]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Addresses_CountryId] ON [dbo].[Addresses]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Addresses_Ip]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Addresses_Ip] ON [dbo].[Addresses]
(
	[Ip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Protocols_Name]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Protocols_Name] ON [dbo].[Protocols]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProtocolVersions_Version]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ProtocolVersions_Version] ON [dbo].[ProtocolVersions]
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestUrls_IpAddressId]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_RequestUrls_IpAddressId] ON [dbo].[RequestUrls]
(
	[IpAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestUrls_MethodId]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_RequestUrls_MethodId] ON [dbo].[RequestUrls]
(
	[MethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestUrls_ProtocolId]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_RequestUrls_ProtocolId] ON [dbo].[RequestUrls]
(
	[ProtocolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestUrls_ProtocolVersionId]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_RequestUrls_ProtocolVersionId] ON [dbo].[RequestUrls]
(
	[ProtocolVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestUrls_RouteId]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_RequestUrls_RouteId] ON [dbo].[RequestUrls]
(
	[RouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestUrls_StatusCodeId]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_RequestUrls_StatusCodeId] ON [dbo].[RequestUrls]
(
	[StatusCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RestMethods_Name]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RestMethods_Name] ON [dbo].[RestMethods]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RestStatusCodes_Number]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RestStatusCodes_Number] ON [dbo].[RestStatusCodes]
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Routes_Name]    Script Date: 6/19/2019 10:14:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Routes_Name] ON [dbo].[Routes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Countries_CountryId]
GO
ALTER TABLE [dbo].[RequestUrls]  WITH CHECK ADD  CONSTRAINT [FK_RequestUrls_Addresses_IpAddressId] FOREIGN KEY([IpAddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestUrls] CHECK CONSTRAINT [FK_RequestUrls_Addresses_IpAddressId]
GO
ALTER TABLE [dbo].[RequestUrls]  WITH CHECK ADD  CONSTRAINT [FK_RequestUrls_Protocols_ProtocolId] FOREIGN KEY([ProtocolId])
REFERENCES [dbo].[Protocols] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestUrls] CHECK CONSTRAINT [FK_RequestUrls_Protocols_ProtocolId]
GO
ALTER TABLE [dbo].[RequestUrls]  WITH CHECK ADD  CONSTRAINT [FK_RequestUrls_ProtocolVersions_ProtocolVersionId] FOREIGN KEY([ProtocolVersionId])
REFERENCES [dbo].[ProtocolVersions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestUrls] CHECK CONSTRAINT [FK_RequestUrls_ProtocolVersions_ProtocolVersionId]
GO
ALTER TABLE [dbo].[RequestUrls]  WITH CHECK ADD  CONSTRAINT [FK_RequestUrls_RestMethods_MethodId] FOREIGN KEY([MethodId])
REFERENCES [dbo].[RestMethods] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestUrls] CHECK CONSTRAINT [FK_RequestUrls_RestMethods_MethodId]
GO
ALTER TABLE [dbo].[RequestUrls]  WITH CHECK ADD  CONSTRAINT [FK_RequestUrls_RestStatusCodes_StatusCodeId] FOREIGN KEY([StatusCodeId])
REFERENCES [dbo].[RestStatusCodes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestUrls] CHECK CONSTRAINT [FK_RequestUrls_RestStatusCodes_StatusCodeId]
GO
ALTER TABLE [dbo].[RequestUrls]  WITH CHECK ADD  CONSTRAINT [FK_RequestUrls_Routes_RouteId] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Routes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestUrls] CHECK CONSTRAINT [FK_RequestUrls_Routes_RouteId]
GO
USE [master]
GO
